main {border-radius: 3px;box-shadow: aqua; background-color: rgb(236, 222, 229);}
h4 {font-family: Georgia, 'Times New Roman', Times, serif; color: #8F300D;}
.ortadaki {background-color: chocolate;color: darkblue}
table {border-radius: 4px }
.alttaki {background-color: goldenrod}
.altyazı {color: rgb(132, 2, 137)}
#anayazı {color: rgb(181, 10, 95)}
#tap {color:#DB4914 ; background-color: #67EB37}
img {background: transparent;}